aiofiles
aiohttp
apscheduler
asyncio
beautifulsoup4
curl-cffi
cloudscraper
ffmpeg-python
future
faker
fake-useragent
gtts
g4f
geopy
httpx[http2]
lexica-api
langdetect
googletrans==4.0.0-rc1
mysql-connector-python
motor
openai==0.28.0
nest_asyncio
pillow
python-dateutil
pymongo
py7zr
pytube
pycryptodome
python-dotenv
psutil
pytz
stripe
PyJWT
python-whois
pyrogram
python-dateutil
requests
rarfile
speedtest-cli
SpeechRecognition
telebot
telegram
telethon
tgcrypto
validators
wget
